@page
@model GestaoProff.Models.CursoModel

<h2>Editar Curso</h2>

<form asp-action="Editar">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="IdCurso" />

    <div class="form-group">
        <label asp-for="NomeCurso" class="control-label"></label>
        <input asp-for="NomeCurso" class="form-control" />
        <span asp-validation-for="NomeCurso" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdPeriodoLetivo" class="control-label"></label>
        <input asp-for="IdPeriodoLetivo" class="form-control" />
        <span asp-validation-for="IdPeriodoLetivo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Voltar para a Lista</a>
