@model GestaoProff.Models.NotaModel

<h2>Detalhes da Nota</h2>

<div>
    <h4>NotaModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaAluno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatriculaAluno)
        </dd>

        

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Index">Voltar para a lista</a>
</p>
